.App {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.Top {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Bottom {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Doglist {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  columns: 2;
  column-gap: 20px;
}

.Info {
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  padding: 1.5rem;
}
